.header {
    padding: 20px;
    background-color: lightgray;
}
.body_text {
    padding: 20px;
}
.ver_align_middle {
    vertical-align:middle;
}
.table_top {
    background-color: lightgray;
    border: 1px solid darkgray;
}
.padding {
    margin-top: 110px!important;
}
.padding_5 {
    padding: 5px;
}
.padding_10 {
    padding: 10px;
}
.margin_5 {
    margin: 5px;
}

@media screen and (min-width:576px) {
    #lalala {
        display: block!important;
        visibility:visible!important;
    }
}

@media screen and (min-width:768px) {
    #lalaland {
        display: block!important;
        visibility:visible!important;
    }
}

.blue {
    color: darkcyan;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading {
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: darkcyan;
    animation: spin 1s infinite linear;
}
