.header {
    padding: 20px;
    background-color: lightgray;
}
.body_text {
    padding: 20px;
}
.ver_align_middle {
    vertical-align:middle;
}
.table_top {
    background-color: lightgray;
    border: 1px solid darkgray;
}
.padding {
    margin-top: 110px!important;
}

@media screen and (min-width:576px) {
    #lalala {
        display: block!important;
        visibility:visible!important;
    }
}

@media screen and (min-width:768px) {
    #lalaland {
        display: block!important;
        visibility:visible!important;
    }
}

.blue {
    color: darkcyan;
}