.header {
    padding: 20px;
    background-color: lightgray;
}
.body_text {
    padding: 20px;
}
.ver_align_middle {
    vertical-align:middle;
}
.table_top {
    background-color: lightgray;
    border: 1px solid darkgray;
}